/* Primary Background #FFFFFF */
/* Secondary Background #2F303A */
/* Team Section Background #F5F4FA */
/* Accent #2196F3 */
/* Primary Text #757575 */
/* Secondary Text #212121 */
/* Footer Contacts rgba(255, 255, 255, 0.6); */
/* Filter Button #F5F4FA */
/* Hero Button Active #188CE8 */
/* Header Border #ECECEC */
/* Portfolio Card Border #EEEEEE */
/* Portfolio Card Overlay Background rgba(33, 150, 243, 0.9); */
/* Icons #AFB1B8 */
/* Footer Social Links Background rgba(255, 255, 255, 0.1); */
/* Footer Input Border Color rgba(255, 255, 255, 0.3) */
/* Submit Button Shadow 0px 4px 4px rgba(0, 0, 0, 0.15) */
/* Hero Background Overlay rgba(47, 48, 58, 0.4); */
/* Speciality Overlay rgba(47, 48, 58, 0.8); */
/* Modal Close Window Button Border rgba(0, 0, 0, 0.1) */
/* Modal window Backdrop rgba(0, 0, 0, 0.2); */
/* Modal Input Border Color rgba(33, 33, 33, 0.2) */
/* Modal Comment Placeholder Color rgba(117, 117, 117, 0.5) */
/* Transition Duration & Timing-function  250ms cubic-bezier(0.4, 0, 0.2, 1) */
/* Team Card Shadow 0px 1px 3px rgba(0, 0, 0, 0.12),
                    0px 1px 1px rgba(0, 0, 0, 0.14),
                    0px 2px 1px rgba(0, 0, 0, 0.2); */
/* Filter Button Shadow 0px 3px 1px rgba(0, 0, 0, 0.1),
                        0px 1px 2px rgba(0, 0, 0, 0.08),
                        0px 2px 2px rgba(0, 0, 0, 0.12); */
/* Portfolio Card Shadow  0px 1px 1px rgba(0, 0, 0, 0.12),
                          0px 4px 4px rgba(0, 0, 0, 0.06),
                          1px 4px 6px rgba(0, 0, 0, 0.16); */

:root {
  --clr-bg-primary: #ffffff;
  --clr-bg-secondary-alpha: #2f303a;
  --clr-bg-secondary-beta: #f5f4fa;
  --clr-txt-primary: #757575;
  --clr-txt-secondary: #212121;
  --clr-txt-footer-contacts: rgba(255, 255, 255, 0.6);
  --clr-accent: #2196f3;
  --clr-header-logo: #000000;
  --clr-hero-button-active: #188ce8;
  --clr-header-border: #ECECEC;
  --clr-portfolio-card-border: #EEEEEE;
  --clr-portfolio-overlay-background: rgba(33, 150, 243, 0.9);
  --clr-icons: #AFB1B8;
  --clr-footer-social: rgba(255, 255, 255, 0.1);
  --clr-footer-input-border: rgba(255, 255, 255, 0.3);
  --clr-hero-overlay: rgba(47, 48, 58, 0.4);
  --clr-speciality-overlay: rgba(47, 48, 58, 0.8);
  --clr-backdrop: rgba(0, 0, 0, 0.2);
  --clr-modal-btn-border: rgba(0, 0, 0, 0.1);
  --clr-modal-input-border: rgba(33, 33, 33, 0.2);
  --clr-modal-comment-placeholder: rgba(117, 117, 117, 0.5);
  --shdw-submit-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --shdw-team-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --shdw-filter-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --shdw-portfolio-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--clr-bg-primary);
  color: var(--clr-txt-primary);
  font-family: Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--clr-txt-secondary);
}

.link {
  font-style: normal;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background-color: var(--clr-accent);
  color: var(--clr-bg-primary);
  box-shadow: var(--shdw-submit-button);
  border: 0 solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition);
}

.button:hover,
.button:focus {
  background-color: var(--clr-hero-button-active);
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* -----------Header----------- */

.header {
  border-bottom: 1px solid var(--clr-header-border);
}

.header__container,
.nav,
.nav__list,
.header-contacts {
  display: flex;
}

.nav__list {
  margin-left: 93px;
  gap: 50px;
  flex-basis: calc((100% - 100px) / 3);
}

.header-contacts {
  margin-left: auto;
  gap: 50px;
}

.nav,
.header-contacts {
  align-items: center;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--clr-header-logo);
}

.nav__link,
.header-contacts__link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--clr-txt-secondary);
  transition: color var(--transition);
}

.nav__link:hover,
.nav__link:focus,
.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--clr-accent);
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill var(--transition);
}

.header-contacts__link:hover .header-contacts__icon,
.header-contacts__link:focus .header-contacts__icon {
  fill: currentColor;
}

.logo--alt {
  color: var(--clr-accent);
}

.nav__link--current {
  position: relative;
  color: var(--clr-accent);
}

.nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--clr-accent);
}

.header-contacts__link {
  display: flex;
  align-items: center;
  color: inherit;
}

/* -----------Hero----------- */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(var(--clr-hero-overlay), var(--clr-hero-overlay)),
    url(../images/hero-background.jpg);
  background-color: var(--clr-bg-secondary-alpha);
  background-position: center;
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--clr-bg-primary);
}

.hero__button {
  display: inline-block;
  text-align: center;
  padding: 10px 32px;
}

/* -----------Переваги----------- */

.advantages__list {
  display: flex;
  gap: 30px;
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.advantages__item {
  width: 270px;
}

.advantages__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--clr-bg-secondary-beta);
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantages__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--clr-txt-secondary);
}

.advantages__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

/* -----------Чим ми займаємося----------- */

.speciality {
  padding-top: 0;
}

.speciality__list {
  display: flex;
  gap: 30px;
}

.speciality__item {
  width: calc((100% - 60px) / 3);
}

.speciality__thumb {
  position: relative;
}

.speciality__text {
  position: absolute;
  bottom: 0;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: var(--clr-speciality-overlay);
  color: var(--clr-bg-primary);
}

/* -----------Команда----------- */

.team {
  background-color: var(--clr-bg-secondary-beta);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__card {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 90px) / 4);
  background-color: var(--clr-bg-primary);
  box-shadow: var(--shdw-team-shadow)
}

.team__footer {
  padding: 30px 32px;
  text-align: center;
}

.team__member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--clr-txt-secondary);
}

.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}

.team-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-basis: calc((100% - 30px) / 4);
}

.team-socials__link {
  background-color: var(--clr-bg-primary);
  color: var(--clr-icons);
  transition: background-color var(--transition),
    color var(--transition);
}

.team-socials__link:hover,
.team-socials__link:focus {
  background-color: var(--clr-accent);
  color: var(--clr-bg-primary);
}

.team-socials__icon {
  transition: fill var(--transition);
}

.team-socials__icon,
.team-socials__link:hover .team-socials__icon,
.team-socials__link:focus .team-socials__icon {
  fill: currentColor;
}

/* -----------Клієнти----------- */

.clients__list {
  display: flex;
  gap: 30px;
  flex-basis: calc((100% - 30 * 5) / 6);
  justify-content: center;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--clr-icons);
  border: 1px solid var(--clr-icons);
  border-radius: 4px;
  transition: border-color var(--transition);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--clr-accent);
  border-color: var(--clr-accent);
}

.clients__icon {
  fill: currentColor;
  transition: color var(--transition);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: currentColor;
}

/* -----------ПОРТФОЛІО----------- */

/* -----------Кнопки фільтру----------- */

.filter__list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter__button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  letter-spacing: inherit;
  background-color: var(--clr-bg-secondary-beta);
  color: var(--clr-bg-secondary-alpha);
  border: 0 solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition),
    color var(--transition),
    box-shadow var(--transition);
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--clr-accent);
  color: var(--clr-bg-primary);
  box-shadow: var(--shdw-filter-shadow)
}

/* -----------Картки портфоліо----------- */

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

}

.portfolio-card {
  width: calc((100% - 60px) / 3);
}

.portfolio__card-link {
  display: block;
  transition: box-shadow var(--transition);
}

.portfolio__card-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__card-thumb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  background-color: var(--clr-portfolio-overlay-background);
  color: var(--clr-bg-primary);
  transform: translateY(100%);
  transition: transform var(--transition);
}

.portfolio__card-link:focus,
.portfolio__card-link:hover {
  box-shadow: var(--shdw-portfolio-shadow);
}

.portfolio__card-link:focus .portfolio__card-thumb-overlay,
.portfolio__card-link:hover .portfolio__card-thumb-overlay {
  transform: translateY(0);
}

.portfolio__card-footer {
  padding: 20px 24px;
  border-right: 1px solid var(--clr-portfolio-card-border);
  border-left: 1px solid var(--clr-portfolio-card-border);
  border-bottom: 1px solid var(--clr-portfolio-card-border);
}

.portfolio__card-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--clr-txt-secondary);
}

.portfolio__card-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--clr-txt-primary);
}

/* -----------Підвал----------- */

.footer__container {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--clr-bg-secondary-alpha);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--clr-bg-primary);
}

.footer-contacts {
  width: 231px;
}

.footer-contacts__link {
  font-size: 14px;
  line-height: calc(21 / 14);
  letter-spacing: 0.03em;
  color: var(--clr-txt-footer-contacts);
  transition: color var(--transition);
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__link:hover,
.footer-contacts__link:focus {
  color: var(--clr-accent);
}

.footer-contacts__link--color {
  color: var(--clr-bg-primary);
}

.footer-social__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 /14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--clr-bg-primary);
}

.footer-social__list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.footer-social__link {
  background-color: var(--clr-footer-social);
  color: var(--clr-bg-primary);
  transition: background-color var(--transition);
}

.footer-social__icon {
  fill: currentColor;
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--clr-accent);
}

.subscription {
  margin-left: auto;
}

.subscription__form {
  display: flex;
  gap: 12px;
}

.subscription__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--clr-bg-primary);
}

.subscription__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid var(--clr-footer-input-border);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: var(--clr-bg-primary);
  transition: outline var(--transition), border-color var(--transition);
}

.subscription__input:focus {
  border-color: var(--clr-accent);
  outline: 1px solid var(--clr-accent);
}


.subscription__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
}

.subscription__icon {
  fill: currentColor;
}

/* -----------Модальне вікно----------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-backdrop);
  transition: opacity 250ms ease, visibility 250ms ease;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background: var(--clr-bg-primary);
  box-shadow: var(--shdw-team-shadow);
  border-radius: 4px;
  transition: transform var(--transition);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2) translateY(100%);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 30px;
  height: 30px;
  padding: 6px;
  background-color: var(--clr-bg-primary);
  border: 1px solid var(--clr-modal-btn-border);
  border-radius: 50%;
  cursor: pointer;
  color: var(--clr-header-logo);
  transition: color var(--transition);
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--clr-accent);
}

.modal-btn__icon {
  fill: currentColor;
}

.modal__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--clr-txt-secondary);
}

.modal__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__wrapper:nth-of-type(4) {
  margin-bottom: 20px;
}

.modal__input-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--clr-txt-primary);
}

.modal__input,
.modal__coment {
  width: 448px;
  border: 1px solid var(--clr-modal-input-border);
  border-radius: 4px;
  transition: border-color var(--transition), outline var(--transition);
}

.modal__input {
  height: 40px;
  padding: 11px 12px 11px 42px;
}

.modal__coment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.modal__coment::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--clr-modal-comment-placeholder);
}

.modal__input:focus,
.modal__coment:focus {
  border-color: var(--clr-accent);
  outline: 1px solid var(--clr-accent);
}

.modal__input-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill var(--transition);
}

.modal__input:focus+.modal__input-icon {
  fill: var(--clr-accent);
}

.policy__label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--clr-txt-primary);
}

.policy__link {
  margin-left: 0.3em;
  color: var(--clr-accent);
}

.policy__wrapper {
  margin-bottom: 30px;
}

.policy__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--clr-header-logo);
  border-radius: 2px;
  fill: transparent;
  transition: border-color var(--transition), background-color var(--transition), fill var(--transition);
}

.modal-input-policy:focus+.policy__label .policy__icon-wrapper {
  border-color: var(--clr-accent);
}

.modal-input-policy:checked+.policy__label .policy__icon-wrapper {
  border-color: transparent;
  background-color: var(--clr-accent);
  fill: var(--clr-bg-primary);
}

.modal__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
}

/* Стилізація фону інпуту під час автозаповнення */

.subscription__input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px var(--clr-bg-secondary-alpha);
  -webkit-text-fill-color: var(--clr-bg-primary);
}

.modal__input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px var(--clr-bg-primary);
  -webkit-text-fill-color: var(--clr-header-logo);
}