.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    text-align: center;
    background-image: linear-gradient($clr-hero-overlay, $clr-hero-overlay),
        url(../images/hero-background.jpg);
    background-color: $clr-bg-secondary-alpha;
    background-position: center;
    &__title {
            width: 696px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
            font-weight: 900;
            font-size: 44px;
            line-height: calc(60 / 44);
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: $clr-bg-primary;
        }
    &__button {
        display: inline-block;
        text-align: center;
        padding: 10px 32px;
    }
}
